extends layout

block content
	#navbar
		h1 sensornet
	#sidebar
		#network_info
			h1 Overview
			h2 HUBS #{hubcount}
			h2  NODES #{devcount} 
		h3 ACTIONS
		h4 UPDATE
		h4 GRAPH NETWORK
	#contain_network
		#device_hub_holder
			#hub_core_data
				p #{hub_id} (#{hub_name})
			#hub_aux_data
				p MAC : #{hub_mac_addr}
				p IP : #{hub_ip_addr}
		-var ob = JSON.parse(devices)
		-for(var prop in ob)
			.device_abs
				.device_core_data
					p #{ob[prop].device_id} (#{ob[prop].device_name})
				.device_aux_data
					p data #{ob[prop].device_dataset}
				.device_expand
					p +

